body{
  font-family: Droid,Arial,sans-serif;
  background: #f0f2f9;
  text-align: right;
  overflow-x: hidden;

}
span{
  color: #015ba7;
}
    
.button2{
  font-size: 17px;
  padding:5px 34px ;
background-color:rgb(255, 255, 255) ;
color: #015ba7;
border: 1.5px solid #015ba7;
cursor: pointer;
text-decoration: none;
text-transform: capitalize;
outline: none !important;
margin-bottom: 10px;
transition-duration: 0.7s;
margin-top: 5px;
margin-right: 5px;

}
.button1{
  font-size: 17px;
  padding:5px 36px ;
background-color:rgb(255, 255, 255) ;
color: #015ba7;
border: 1.5px solid #015ba7;
cursor: pointer;
text-decoration: none;
text-transform: capitalize;

outline: none !important;
margin-bottom: 10px;
transition-duration: 0.7s;
margin-top: 5px;
margin-right: 5px;



}
.Container{
background-color: hsl(0, 0%, 100%);
max-width:73%;
margin-left: 35px;


}

.image-container{
  position: relative;
  width: 30px;
height: 30px;

}

.imeg {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  
  
}
.image-container:hover .imeg {
  opacity: 0.3;
  
}


h3{
  color: #015ba7;
  font-size: 25px;
  margin-top: 10px;
  font-weight: 700;
    margin-bottom: 8px;

  
}
 .hover:hover{
   color: #f2827a;
   cursor: pointer;
 }

.about{
  background-image: url("P.png");
  width: 120px;
  height: 120px;
  border: solid 5px white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius:50%;
  margin-top: 5px;
  float: right;
  object-fit: contain;
}
.see{
 display: flex;
  margin-top: 5px;
  margin-left: 5px;
  margin-left: 1px;
  flex-direction: column;
    text-align: right;
    direction: rtl;

  
}
.see p{
color:#7e7b7e;
margin-bottom: -.5rem;
height: 42px;
line-height: 21px;
overflow: hidden;
margin-top: .5rem;


}
.see h6{

  font: normal normal normal ;
  color: #7e7b7e;
    height: 42px;
    line-height: 21px;
    overflow: hidden;
    margin-bottom: -.5rem;



}

.wrapper .sidebar{
  background: rgb(255, 255, 255);
  position: fixed;
margin-top:0px;
  right: 0;
  width: 248px;
  padding: 15px 5px;
  margin-right:36px;
  margin-left: 10px;
  
}


  
 select {
  width: 90%;
  padding: 6px 10px;
  text-align: right;
  display: block;
  border: 1px solid #E5EEF6;
  margin-left: 13px;
  margin-right: 5px;
  margin-top: 4px;
  direction: rtl;
background-color: white;
appearance: none;
  -webkit-appappearance:none;
  -moz-appearance:none;
  background-image: url('down-arrow-grey-11549436755koufwhil9q.png');
  background-repeat: no-repeat;
  background-position: left 10 top 14;
  background-size: 15px;
  color:#aaa8aa ;
  margin-bottom: 12px;
  

  
}

select:focus,
select:hover{
border: 1px solid#aaa8aa;
outline: none;


}



input[type=submit] {
  width: 100%;
  background-color: #015ba7;
  color: rgb(255, 255, 255);
  padding: 10px 1px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: 1px;
  margin-right: 11px;
  font-family: Droid,Arial,sans-serif;
  font-size: 20px;
  

}

input[type=submit]:hover {
  background-color: #f2827a;
  transition: all 300ms;
}
label{
  display: inline-block;
    margin-bottom: -1rem;
color: #0573ce;
background-color: rgb(255, 255, 255);
margin-right: 34px;
font-family: Droid,Arial,sans-serif;
font-size: 16px;
font-weight: 500;
}
